
.App {
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: #088312;
  background-image: url("image/aviv-ben-or-396867-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fffefe;
}
input{
  height: 20px;
  padding: 5px 20px;
}
button{
  margin: 10px 0;
}
ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
li{
  padding: 5px 20px;
  width: 350px;
  background-color: #044d57;
  list-style-type: none;
  text-align: start;
  border-bottom: 2px solid hsl(0, 0%, 99%);
  margin-top: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: .7px;
}
button{
  border: none;
  letter-spacing: 2px;
  padding: 3px 18px;
  color: #333;
  font-size: 16px;
  background-color: #FFB26B;
  transition: .3s;
}
button:hover{
  color: #FF7B54;
  background-color: #333;
}